<!doctype html>
<html lang="en" xmlns:"http://www.thymeleaf.org" >
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<title>Home Page</title>
  </head>
  <body>
  
  <!-- Navbar -->
  
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Customer Satisfaction Survey</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/AddCustomer">Add Customer</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/AddProduct">Add Product</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/Review">Review</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/customerView">Customer View</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/Login">Login</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/Register">Register</a>
      </li>
      
      <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      <li class="nav-item active">
        <a class="nav-link" href="/Logout">Logout</a>
      </li>
    </form>
          </ul>
  </div>
  </nav>
  <h1>Welcome</h1>
  <div class=text-center m-3>
  <h7>Copyright &copy; Ann's Company Ltd.</h7>
  </div>
  
   <!--Navbar-->
  <div th:if=${session.msg}>
		<div class="alert alert-success" role="alert" th:text="${session.msg}">
		</div>
		<th:block th:text="${#session.removeAttribute('msg')}"></th:block>
	</div>
  <!--Table-->
  
  
  <div class="container p-5">
 
    <p>CUSTOMERS</p>
    
<table class="table">
  <thead class="bg-primary text white">
    <tr>
      <th scope="col">Id</th>
       <th scope="col">Customer Name</th>
      <th scope="col">Address</th>
      <th scope="col">Email</th>
      <th scope="col">Mobile No</th>
      <th scope="col">Review</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="c :${Customer}">
      <th th:text="${c.id}">1</th>
      <td th:text="${c.name}"></td>
       <td th:text="${c.address}"></td>
       <td th:text="${c.email}"></td>
        <td th:text="${c.mobileno}"></td>
      <td th:text="${c.review}"></td>
       	<td><a class="btn btn-sm btn-primary"
						th:href="@{/edit/{id}(id=${c.id})}">Edit</a> <a
						class="btn btn-sm btn-danger"
						th:href="@{/delete/{id}(id=${c.id})}">Delete</a></td>
    </tr>
  </tbody>
</table>
  </div>
  <!--product-->
  
  
  <div class="container">
  <p>PRODUCTS</p>
  <table class="table">
  <thead class="bg-primary text white">
    <tr>
      <th scope="col">Id</th>
       <th scope="col">Product Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col">Review</th>
          </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Samsung Refrigerator</td>
      <td>4</td>
      <td>45678</td>
     <td>Good</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Samsung AC</td>
      <td>6</td>
      <td>120000</td>
      <td>Satisfied</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Samsung Washing Machine</td>
      <td>10</td>
      <td>54000</td>
      <td>Very Good</td>
    </tr>
  </tbody>
</table>
  </div>
  
  <!--product-->
  
	<div class="container">

		<p>Total Page: [[${totalProduct}]]</p>
		<nav aria-label="Page navigation example">
			<ul class="pagination">
				<li th:if="${currentPage !=0}" class="page-item"><a class="page-link" th:href="@{'/page/'+${currentPage-1}}">Previous</a></li>


				<li th:each="i:${#numbers.sequence(1,totalPages)}"  th:classappend="${currentPage==i-1 ? 'active' : '' }"  class="page-item">
				
				<a class="page-link" th:href="@{'/page/'+${i-1}}">[[${i}]]</a>
				
				
				</li>

				<li th:if="${currentPage+1!=totalPages}" class="page-item"><a class="page-link" th:href="@{'/page/'+${currentPage+1}}">Next</a></li>
			</ul>
		</nav>
	</div>
	
  <!--Table-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>